<div class="login flex flex-col gap-3 mt-4 w-96">
    <h1 class="text-3xl text-center font-extrabold">Login Information</h1>
    <div class="flex flex-col gap-1">
        <label class="font-bold">Email</label>
        <app-input-component icon="pi pi-envelope" type="text" placeholder="Email" />
    </div>
    <div class="flex flex-col gap-1">
        <label class="font-bold">Password</label>
        <app-input-component icon="pi pi-lock" type="password" name="password" placeholder="Password" />
    </div>
    <div class="flex flex-col gap-1">
        <label class="font-bold">Confirm Password</label>
        <app-input-component icon="pi pi-lock" type="password" name="confirm_password" placeholder="Confirm Password" />
    </div>
</div>