<main class="main">
  <div class="content">
    <div class="">
      <h1 class="h1 text-center">Sign In</h1>
    </div>
    <form class="form">
        <div class="flex-column">
          <label>Email </label>
        </div>
        <app-input-component name="email" type="text" icon="pi pi-envelope" />    
        
        <div class="flex-column">
          <label>Password </label></div>
          <app-input-component  [feedback]="true" name="password" type="password" icon="pi pi-lock" />
        
        <div class="flex-row">
          <div>
          </div>
          <span class="span">Forgot password?</span>
        </div>
        <button (click)="login()" class="button-submit">Sign In</button>
        <p class="p">Don't have an account? <span class="span">Sign Up</span>

        </p><p class="p line">Or With</p>

        <div class="flex-row">
          <button class="btn google">
            <i class="pi pi-google"></i>
            Google 
          </button><button class="btn apple">
            <i class="pi pi-apple"></i>
            Apple   
          </button>
      </div>
    </form>
  </div>
</main>



<router-outlet />
