
@import 'primeicons/primeicons.css';


.input, .input-addon {
    border: none;
}

.input-group {
    border: 1px solid var(--ion-color-medium);
    border-radius: 2px;
    transition: border-color 0.2s;
}


.input-group:has(> .input:focus) {
    border: 1px solid var(--ion-color-primary);
    border-radius: 2px;

  
    ion-icon {
      color: var(--ion-color-primary);
    }
}



.hover-primary {
    color: var(--ion-color-primary);

    &:hover {
        color: var(--ion-color-primary) !important;
        background-color: rgba(var(--ion-color-primary-rgb), 0.1) !important;
    }
}