<!-- <div class="card flex justify-center">
    <p-inputotp [(ngModel)]="otp" />
</div> -->

<div class="card flex justify-center h-full">
    <div class="flex flex-col items-center">
        <div class="font-bold text-xl mb-2">Authenticate Your Account</div>
        <p class="text-muted-color block mb-8">Please enter the code sent to your email.</p>
        <p-inputotp [(ngModel)]="otp" size="large" [length]="6" />
        <div class="flex justify-between mt-8 self-stretch">
            <p-button label="Resend Code" styleClass="button" [link]="true" class="p-0 !border-none"/>
            <p-button label="Submit Code" styleClass="button" class="cursor-pointer"/>
        </div>
    </div>
</div>
