.input-group {
    display: flex;
    padding: 0 10px;
    gap: 2;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #007bff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    .icon-start {
        margin-right: 10px;
    }
}

.input-group:has( > .input:focus) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    border: 1px solid #89a2bd;

}

.input {
    width: 100%;
    // padding: 10px;
    margin: 10px 0;
    border: none;
    background-color: transparent;
    border-radius: 5px;

    &:focus {
        outline: none;
    }
}