
div.main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua !important;
}


.form {

    button {
        padding: 10px 15px;
        border: 1px solid rgba(255, 255, 255, 0.8);
        border-radius: 5px;
        outline: 0 !important;
        background: rgba(255, 0, 255, .8);
        color: white;
        cursor: pointer;
        transition: background .3s ease, border .3s ease, color .3s ease;



        &:hover {
            border: 1px solid rgba(255, 0, 255, .8);
            background: transparent;
        }

    }

    
}

.separator {
    width: 100%;
    display: flex;
    align-items: center;
    // justify-content: center;
    gap: 30px;
    color: white;

    .line {
        display: block;
        width: 100%;
        height: 1px;
        border: 0;
        background-color: #e8e8e8;
    }


}
  
  

.socials {
    gap: 10px;
    font-size: 15px;
        
    background-color: transparent !important;
    color: white;
    cursor: pointer;
    transition: background .3s ease, color .3s ease;

    &:hover {
        background: transparent;
        color: #ff00ff;
    }
}