<div class="container">
    <p-steps class="p-1 sticky top-0" [activeIndex]="activeStep" [model]="items" [readonly]="true" exact routerLinkActive="" />
    <div class="outlet mt-4">
        <router-outlet />
    </div>
    <div class="flex justify-between px-5">
        <div>
            @if (activeStep > 0 && activeStep < 2) {
                <p-button label="Prev" icon="pi pi-arrow-left" iconPos="left" (click)="prevStep()"></p-button>
            }
        </div>
        
        <div class="justify-end">
            @if (activeStep < items.length - 1) {
                <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (click)="nextStep()"/>
            }
        </div>
        
    </div>
</div>